.topbar{
    list-style-type: none;

}
.topbar li {
    float:left;
    margin-right: 13px;
    font-size: 12px;
    margin-top: 3px;
    color:whitesmoke;
}
.topbar li a{
    text-decoration: none;
    color: whitesmoke;
}
.topbar li :hover{
    color: #2aabd2;
}

#container {

}
#fullpage{
    background-image: url('../img/signupback2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#topthree{

    height: 23px;
} 
#mid_nav{

    margin-top: 1px;
    margin-bottom: 2px;

}
#mid_nav ul{
    list-style-type: none;   
    margin-left: 90px;


}
#mid_nav li {
    float: left;
    margin-bottom: 2px;

}
#mid_nav li a{
    text-decoration: none;
    color: #080808;   
    margin-right: 50px;
    text-align: center;

}
#mid_nav li a:hover{
    color: #269abc;
}





.signup{
    background-image: url('../img/signupback2.jpg');
}
.form div{
    margin-bottom: 10px;
}
.signin{
    background-image: url('../img/signupback2.jpg');
}
#footer{
    background-color: #404140;
}
#footer ul{
    list-style-type: none;
}
#low h5{
    margin-left: 40px;
}
#footer{
    color:#cccccc;
}
#footer h5,h4{
    color: white;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}
#footer a{

    color:#cccccc;
}

.panel-body { padding:0px; }
.panel-body table tr td { padding-left: 15px }
.panel-body .table {margin-bottom: 0px; }

.panel-group .panel {
    border-radius: 5px;

}
#addproduct{
    background-image: url('../img/signupback2.jpg');
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.balackcolor{
    color: #080808;
}
#background{
    background-image: url('../img/signupback2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}